#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 420px) {
  .app-size {
    width: 100%;
    width: 100vw;
    margin: 15px 15px;
  }
}

@media screen and (min-width: 421px) and (max-width: 768px) {
  .app-size {
    width: 95%;
    width: 95vw;
    margin: 15px 15px;
  }
}

@media screen and (max-width: 768px) {
  .flex-container {
    flex-wrap: wrap;
  }

  .category-difficulty {
    width: 100%;
    text-align: center;
  }
}

@media screen and (min-width: 769px) {
  .app-size {
    width: 750px;
  }
}

.error {
  color: red;
}

.button-ok {
  background-color:dodgerblue;
  color: white;
}

.button-ok:disabled {
  cursor: auto;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-24 {
  font-size: 24px;
}

.font-size-28 {
  font-size: 28px;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.ol-margin-left {
  margin-left: -5px;
}

.ol-no-decoration {
  list-style: none;
}

.answer {
  margin-bottom: 5px;
  cursor: pointer;
  width: 95%;
}

.answer-disabled {
  margin-bottom: 5px;
  cursor: auto;
}

.answer:hover {
  background-color: blanchedalmond;
}

.answer-selected {
  background-color: lightgreen;
}

.background-color-green {
  background-color: green;
}

.background-color-orange {
  background-color: orange;
}

.background-color-red {
  background-color: red;
}

.color-white {
  color: white;
}

.color-black {
  color: black;
}

.pill {
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  min-width: 65px;
  margin: 4px 2px;
  border-radius: 16px;
}

.margin-10 {
  margin: 10px 10px;
}

.number-of-questions {
  height: 20px;
}

.difficulty-dropdown {
  height: 30px;
}